{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/" role="button">Vámonos</a>
      <p class="meta">Apoya la comunidad open-source.</p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Mastodon 🌐</h2>
        <p>Regístrate en <a href="https://tu.social">la instancia de Mastodon</a> inspirada en Tuenti. Únete a la comunidad tech de España.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Email forwarding 📧</h2>
        <p><a href="/servicios/email">Consigue una cuenta de correo @tu.social</a> con tu usuario de Mastodon. Recupera tus conversaciones por correo sin desvelar tu dirección real.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">BitWarden 🔑</h2>
        <p>Registrate con tu correo en <a href="https://vault.tu.social">vault.tu.social</a> y utilizalo como tu gestor de contraseñas gratuito con funciones premium.</p>
      </div>
    </div>
    <!--div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Full text search</h2>
        <p>Search your Doks site with FlexSearch. Easily customize index settings and search options to your liking.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Page layouts</h2>
        <p>Build pages with a landing page, blog, or documentation layout. Add custom sections and components to suit your needs.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Dark mode</h2>
        <p>Switch to a low-light UI with the click of a button. Change colors with variables to match your branding.</p>
      </div>
    </div-->
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
